/* Google Fonts - Poppins */
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600&display=swap');




:root
{
  --body-font: "Poppins",sans-serif;
    --green:green;
    --black:#130f40;
    --light-color:#666;
    --orange:orange;
    --box-shadow:0 .5rem 1.5rem rgba(0,0,0,.1);

    --border:.2rem solid rgba(0,0,0.1);
    --outline:1rem rgba(0,0,0.1);
}

*
{
    font-family: var(--body-font);
    margin :0;
    padding: 0;
    box-sizing:border-box;
    outline: none;
    border:none;
    text-transform: capitalize;

}

a {
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
  }
html
  {
    font-size:62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top:7rem;

  }
body
  {
    background:#eee;
    
  }
/* banner css */

  section
  {
    padding:1.8rem 9%;
  }

 


.header
  {
    /* border:1px solid black; */
    position:fixed;
    top:0;
    left:0;
    right:0;
    z-index: 1000;
    display:flex;
    align-items:center;
    justify-content: space-between;
    padding: 2rem 9%;
    background:#fff;
    box-shadow: var(--box-shadow);
  }
.header .logo
{
    font-size: 2.5rem;
    font-weight: bolder;
}
.header  span
{
  color: var(--green);
}

.header .logo i
{
  font-size: 3rem;
    color: var(--orange);
}
.header .navbar a
{
    font-size: 1.7rem;
    margin: 0 1rem;
    color:var(--black);

}
.header .navbar a:hover
{
    color:var(--green);
}
.header .icons div
{
    border : 0px solid;
    height: 4.5rem;
    width: 4.5rem;
    line-height: 4.5rem;
    border-radius: .5rem;
    background:#eee ;
    color:var(--black);
    font-size: 2rem;
    margin-right: .3rem;
    text-align: center;
    cursor:pointer;
}
.header .icons div:hover
{
    background: var(--green);
    color:white;
}
#menu-btn
{
    display: none;
}
.header .navbar.active
{
  right: 2rem;
  transition: .4s linear;
}

.header .search-form
{
    position:absolute;
    border:0px solid;
    top:110%;
    right:-110%;
    width:50rem;
    height:5rem;
    background: #fff;
    border-radius: 0.5rem;
    overflow: hidden;
    display: flex;
    align-items: center;
    box-shadow:var(--box-shadow) ;
}
.header .search-form.active
{
  right: 2rem;
  transition: .4s linear;
}
.header .search-form input
{
  height:100%;
  width:100%;
  background: none;
  text-transform: none;
  font-size:1.8rem;
  color:var(--black);
  padding: 0 1.5rem;

}
.header .search-form label
{
  font-size: 2.2rem;
  padding-right:1.5rem;
  color: var(--black);
  cursor: pointer;

}
.header .search-form label:hover
{
  color:var(--green);
}
.btn {
  width: 100%;
  font-size:1.6rem;
  color: var(--light-color);
  padding: 0.8rem 3rem;
  margin-top: 1rem;
  border: 0.2rem solid var(--black);
  background-color: #fff;
  border-radius: 0.5rem;
  cursor: pointer;
}

.btn:hover {
  background-color: var(--green);
  color: #fff;
}
 header .reg-btn,.log-btn{
  width: 100%;
  font-size:1.6rem;
  color: #fff;
  padding: 0.8rem 3rem;
  margin-top: 1rem;
  border: 0.2rem solid var(--black);
  background-color: var(--light-color);
  border-radius: 0.5rem;
  cursor: pointer;

}
header .reg-btn:hover {
  background-color: var(--green);
  color: #fff;
}
 header .log-btn:hover {
  background-color: var(--green);
  color: #fff;
}


/* home */

.home
 {
  border:0px solid;
  display:flex;
  justify-content: center;
  background: url(../image/bg.png) no-repeat;
  background-position: center;
  background-size: cover;
  padding-top: 17rem;
  padding-bottom: 10rem;
  height: 100vh;
  width: 100%;
 } 
.home .content
{
  border: 0px solid;
  text-align: center;
  width:100%;
  padding-top: 4rem;
}
.home .content h1
{
  color:var(--black);
  font-size: 3.8rem;

}
.home .content span
{
  color:var(--orange);
}
.home .content .organic 
{
  font-size: 5rem;
  margin-bottom: 1rem;
}

.home .content .organic span 
{
  color: green;
}

.home .content p
{
  color:var(--light-color);
  font-size: 1.8rem;
  padding: 1rem 0;
  line-height: 3rem;

}
.home .btn
{
  width: 15rem;
}

/* home end */
/* feature */
.heading
{
  text-align: center;
  padding:10rem 0;
  padding-bottom: 3rem;
  font-size: 2.5rem;
  color: var(--black);
}
.heading span
{
  background: var(--green);
  color: #fff;
  display: inline-block;
  padding: .5rem 3rem;
  clip-path:polygon(100% 0,93% 50%,100% 99%,0% 100%,7% 50%,0% 0%);
}
.features .box-container .box img {
  height: 15rem;
  margin: 1rem 0;
  padding-bottom: 1rem;
}
.features .box-container .box h2
{
  font-size: 2.5rem;
  line-height: 1.8;
  color: var(--black);
}
.features .box-container .box p
{
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--light-color);
  padding-bottom: 2rem;
}
.features .box-container
{
  border:0px solid;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(30rem, 1fr));
  gap:2rem;
  
}
.features .box-container .box
{
  border: 0px solid;
  padding: 3rem 2rem;
  background: #fff;
  outline-offset: -1rem;
  outline:var(--outline);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: .2s linear;

}
.features .box-container .box:hover
{
  box-shadow: 1px 1px 6px 2px var(--green);
  transform: scale(1.06);
  cursor: pointer;

}

/* feature */
/* products */

.products .slider {
  display: flex;
  overflow-x: auto;
  scroll-behavior: smooth;
  gap: 1.5rem;
  padding: 1rem 0;
}

.products .slider::-webkit-scrollbar {
  display: none; /* Hide scrollbar */
}

.products .slide {
  flex: none;
  width: 350px; /* Match service card width */
  height: 350px; /* Fixed height like service card */
  background: #fff;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  text-align: center;
  padding: 2rem 1rem;
  transition: transform 0.3s ease;
}
.products .slide:first-child
{
  margin-bottom: 2rem;
  

}

.products .slide .box{
  border: 0;
  background: #fff;
  border-radius: 0.5rem;
  text-align: center;
  padding: 2rem 1rem; /* Reduced padding */
  outline-offset: -1rem;
  outline: var(--outline);
  box-shadow: var(--box-shadow);
  transition: 0.2s linear;
  width: 90%; /* Ensure slides are slightly smaller than the container */
  margin: 0 auto;
}

.products .slide:hover {
  transform: translateY(-5px);
  box-shadow: 1px 1px 6px 2px var(--green);
  cursor: pointer;
}

.products .slide img {
  height: 12rem; /* slightly smaller image */
  object-fit: contain;
}

.products .slide h1 {
  font-size: 2.5rem;
  color: var(--black);
}

.products .slide .price {
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 1.5rem;
  gap: 1rem;
  padding: 0.5rem 0;
}

.products .slide .old-price {
  color: var(--light-color);
  text-decoration: line-through;
  font-weight: 400;
}

.products .slide .new-price {
  color:var(--green);
  font-weight: 600;
}

.products .slide .stars {
  color: var(--orange);
  font-size: 1.5rem;
  padding: 0.5rem 0;
}


.products .stars i {
  color: var(--orange); /* Orange */
  font-size: 1rem;
}

/* Arrow buttons */
#backbtn, #nextbtn {
  width: 25px;
  cursor: pointer;
  user-select: none;
  filter: brightness(0) saturate(100%) invert(42%) sepia(96%) saturate(746%) hue-rotate(77deg) brightness(94%) contrast(89%);
}

#backbtn {
  transform: rotate(180deg);
}

.products .slider-wrap {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 2rem;
  padding: 2rem 1rem;
}



/* products end */
/* categories */
.categories .box-container .box img {
  width: auto;
  max-width: 100%;
  max-height: 15rem;
  object-fit: contain;
}
.categories .box-container .box h2
{
  font-size: 2.5rem;
  line-height: 1.8;
  color: var(--black);
}
.categories .box-container .box p
{
  font-size: 1.5rem;
  line-height: 1.8;
  color: var(--light-color);
  padding-bottom: 2rem;
}
.categories .box-container
{
  border:0px solid;
  display: grid;
  grid-template-columns: repeat(auto-fit,minmax(15rem, 1fr));
  gap:2rem;
  
}
.categories .box-container .box
{
  border: 0px solid;
  padding: 3rem 2rem;
  background: #fff;
  outline-offset: -1rem;
  outline:var(--outline);
  text-align: center;
  box-shadow: var(--box-shadow);
  transition: .2s linear;

}
.categories .box-container .box:hover
{
  box-shadow: 1px 1px 6px 2px var(--green);
  transform: scale(1.06);
  cursor: pointer;

}






/* Heading */
h1 {
  text-align: center;
  margin-bottom: 20px;
  color: var(--orange);
}

/* Labels */
form label {
  display: block;
  margin-top: 12px;
  margin-bottom: 5px;
  font-weight: bold;
  color: #555;
}

/* Inputs and textarea */
form input,
form textarea {
  width: 100%;
  padding: 10px;
  border: 1px solid #aaa;
  border-radius: 5px;
  box-sizing: border-box;
  font-size: 14px;
  background-color: #fafafa;
  transition: border 0.3s ease;
}

/* Highlight on focus */
form input:focus,
form textarea:focus {
  border-color: #4CAF50;
  outline: none;
}

/*header ko user icon */
.user-menu {
  position: relative;
  display: inline-block;
  margin-left: 10px;
}

.user-menu .user-icon {
  width: 40px;
  height: 40px;
  border-radius: 80%;
  object-fit: cover;
  cursor: pointer;
  vertical-align: middle;
  border: 1px var(--light-color);
  transition: transform 0.2s;
}

 .user-menu .user-icon:hover {
  transform: 0.2s;
}

.user-menu .user-dropdown {
  display: none;
  position: absolute;
  right: 0;
  background-color: white;
  min-width: 150px;
  border: 1px solid #ccc;
  box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  z-index: 1000;
  border-radius: 6px;
  overflow: hidden;
}

.user-menu .user-dropdown a {
  display: block;
  padding: 10px;
  color:var(--black);
  text-decoration: none;
}

.user-menu .user-dropdown a:hover {
  background-color: #f0f0f0;
}

.user-menu:hover .user-dropdown {
  display: block;
}

/*login auth button*/
.auth-buttons {
    display: flex;
    gap: 2px;
    align-items: center;
}

.reg-btn, .log-btn {
   
    border: none;
    border-radius: 2px;
    cursor: pointer;
}

.reg-btn {
    background-color: #28a745;
    color: white;
}

.log-btn {
    background-color: #007bff;
    color: white;
}
/*from other file*/
.quick-view .box{
  max-width: 50rem;
  padding:2rem;
  text-align: center;
  border:var(--border);
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  position: relative;
  margin:0 auto;
}

.quick-view .box img{
  height: 25rem;
  margin-bottom: 1rem;
}

.quick-view .box .price{
  position: absolute;
  top:1rem; left:1rem;
  padding:1rem;
  border-radius: .5rem;
  background-color: var(--red);
  font-size: 1.8rem;
  color:var(--white);
}

.quick-view .box .price span{
  font-size: 2.5rem;
  color:var(--white);
  margin:0 .2rem;
}

.quick-view .box .qty{
  margin:.5rem 0;
  border-radius: .5rem;
  padding:1.2rem 1.4rem;
  font-size: 1.8rem;
  color:var(--black);
  border:var(--border);
  width: 100%;
}

.quick-view .box .name{
  font-size: 2rem;
  color:var(--black);
  padding:1rem 0;
}

.quick-view .box .details{
  padding:1rem 0;
  line-height: 2;
  font-size: 1.5rem;
  color:var(--light-color);
}

.p-category{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(27rem, 1fr));
  gap:1.5rem;
  justify-content: center;
  align-items: flex-start;
}

.p-category{
  padding-bottom: 0;
}

.p-category a{
  padding:1.5rem;
  text-align: center;
  border:var(--border);
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  font-size: 2rem;
  text-transform: capitalize;
  color:var(--black);
}

.p-category a:hover{
  background-color: var(--black);
  color: var(--white);
}

.about .row{
  display: flex;
  flex-wrap: wrap;
  gap:3rem;
  align-items: center;
}

.about .row .box{
  flex:1 1 40rem;
  text-align: center;
}

.about .row .box img{
  margin-bottom: 2rem;
  height: 40rem;
}

.about .row .box h3{
  padding:1rem 0;
  font-size: 2.5rem;
  text-transform: uppercase;
  color:var(--black);
}

.about .row .box p{
  line-height: 2;
  font-size: 1.5rem;
  color:var(--light-color);
  padding:1rem 0;
}

.about .row .box .btn{
  display: inline-block;
  width: auto;
}

.reviews .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(30rem, 1fr));
  gap:1.5rem;
  justify-content: center;
  align-items: flex-start;
}

.reviews .box-container .box{
  padding:2rem;
  text-align: center;
  border:var(--border);
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
}

.reviews .box-container .box img{
  height: 10rem;
  width: 10rem;
  border-radius: 50%;
  margin-bottom: 1rem;
  object-fit: cover;
}

.reviews .box-container .box p{
  padding:1rem 0;
  font-size: 1.6rem;
  color:var(--light-color);
  line-height: 2;
}

.reviews .box-container .box .stars{
  display: inline-block;
  padding:1rem;
  background-color: var(--light-bg);
  border:var(--border);
  border-radius: .5rem;
  margin:.5rem 0;
}

.reviews .box-container .box .stars i{
  font-size: 1.7rem;
  color:var(--orange);
  margin:0 .3rem;
}

.reviews .box-container .box h3{
  margin-top: 1rem;
  color:var(--black);
  font-size: 2rem;
}

.contact form{
  margin:0 auto;
  max-width: 50rem;
  padding:2rem;
  text-align: center;
  border:var(--border);
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  padding-top: 1rem;
}

.contact form .box{
  width: 100%;
  padding:1.2rem 1.4rem;
  border:var(--border);
  margin:1rem 0;
  background-color: var(--light-bg);
  font-size: 1.8rem;
  color:var(--black);
  border-radius: .5rem;
}

.contact form textarea{
  height: 15rem;
  resize: none;
}

.search-form form{
  display: flex;
  gap:1.5rem;
  align-items: center;
}

.search-form form .box{
  width: 100%;
  padding:1.4rem;
  border:var(--border);
  margin:1rem 0;
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  font-size: 2rem;
  color:var(--black);
  border-radius: .5rem;
}

.search-form form .btn{
  display: inline-block;
  width: auto;
  margin-top: 0;
}

.wishlist .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  gap:1.5rem;
  justify-content: center;
  align-items: flex-start;
}

.wishlist .box-container .box{
  padding:2rem;
  text-align: center;
  border:var(--border);
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  position: relative;
}

.wishlist .box-container .box .price{
  padding:1rem 0;
  color:var(--red);
  font-size: 2.5rem;
}

.wishlist .box-container .box .price span{
  font-size: 2.5rem;
  color:var(--white);
  margin:0 .2rem;
}

.wishlist .box-container .box .fa-eye{
  position: absolute;
  top:1rem; right:1rem;
  border-radius: .5rem;
  height: 4.5rem;
  line-height: 4.3rem;
  width: 5rem;
  border:var(--border);
  color:var(--black);
  font-size: 2rem;
  background-color: var(--white);
}

.wishlist .box-container .box .fa-eye:hover{
  color:var(--white);
  background-color: var(--black);
}

.wishlist .box-container .box .fa-times{
  position: absolute;
  top:1rem; left:1rem;
  border-radius: .5rem;
  height: 4.5rem;
  line-height: 4.3rem;
  width: 5rem;
  color:var(--white);
  font-size: 2rem;
  background-color: var(--red);
}

.wishlist .box-container .box .fa-times:hover{
  background-color: var(--black);
}

.wishlist .box-container .box img{
  width: 100%;
  margin-bottom: 1rem;
}

.wishlist .box-container .box .name{
  font-size: 2rem;
  color:var(--black);
  padding-top: 1rem;
}

.wishlist .box-container .box .qty{
  margin:.5rem 0;
  border-radius: .5rem;
  padding:1.2rem 1.4rem;
  font-size: 1.8rem;
  color:var(--black);
  border:var(--border);
  width: 100%;
}

.wishlist .wishlist-total{
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 2rem;
  padding:2rem;
  text-align: center;
  border:var(--border);
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
}

.wishlist .wishlist-total p{
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color:var(--light-color);
}

.wishlist .wishlist-total p span{
  color:var(--red);
}

.shopping-cart .box-container{
  display: grid;
  grid-template-columns: repeat(auto-fit, 35rem);
  gap:1.5rem;
  justify-content: center;
  align-items: flex-start;
}

.shopping-cart .box-container .box{
  padding:2rem;
  text-align: center;
  border:var(--border);
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
  position: relative;
}

.shopping-cart .box-container .box .price{
  padding:1rem 0;
  color:var(--red);
  font-size: 2.5rem;
}

.shopping-cart .box-container .box .price span{
  font-size: 2.5rem;
  color:var(--white);
  margin:0 .2rem;
}

.shopping-cart .box-container .box .fa-eye{
  position: absolute;
  top:1rem; right:1rem;
  border-radius: .5rem;
  height: 4.5rem;
  line-height: 4.3rem;
  width: 5rem;
  border:var(--border);
  color:var(--black);
  font-size: 2rem;
  background-color: var(--white);
}

.shopping-cart .box-container .box .fa-eye:hover{
  color:var(--white);
  background-color: var(--black);
}

.shopping-cart .box-container .box .fa-times{
  position: absolute;
  top:1rem; left:1rem;
  border-radius: .5rem;
  height: 4.5rem;
  line-height: 4.3rem;
  width: 5rem;
  color:var(--white);
  font-size: 2rem;
  background-color: var(--red);
}

.shopping-cart .box-container .box .fa-times:hover{
  background-color: var(--black);
}

.shopping-cart .box-container .box img{
  width: 100%;
  margin-bottom: 1rem;
}

.shopping-cart .box-container .box .name{
  font-size: 2rem;
  color:var(--black);
  padding-top: 1rem;
}

.shopping-cart .box-container .box .qty{
  margin-top: 1rem;
  border-radius: .5rem;
  padding:1.2rem 1.4rem;
  font-size: 1.8rem;
  color:var(--black);
  border:var(--border);
  width: 100%;
}

.shopping-cart .box-container .sub-total{
  margin-top: 2rem;
  font-size: 2rem;
  color:var(--light-color);
}

.shopping-cart .box-container .sub-total span{
  color:var(--red);
}

.shopping-cart .cart-total{
  max-width: 50rem;
  margin: 0 auto;
  margin-top: 2rem;
  padding:2rem;
  text-align: center;
  border:var(--border);
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
}

.shopping-cart .cart-total p{
  margin-bottom: 2rem;
  font-size: 2.5rem;
  color:var(--light-color);
}

.shopping-cart .cart-total p span{
  color:var(--red);
}

.display-orders{
  text-align: center;
  padding-bottom: 0;
}

.display-orders p{
  display: inline-block;
  padding:1rem 2rem;
  margin:1rem .5rem;
  font-size: 2rem;
  text-align: center;
  border:var(--border);
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
}

.display-orders p span{
  color:var(--red);
}

.display-orders .grand-total{
  margin-top: 2rem;
  font-size: 2.5rem;
  color:var(--light-color);
}

.display-orders .grand-total span{
  color:var(--red);
}

.checkout-orders form{
  padding:2rem;
  border:var(--border);
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
}

.checkout-orders form h3{
  border-radius: .5rem;
  background-color: var(--black);
  color:var(--white);
  padding:1.5rem 1rem;
  text-align: center;
  text-transform: uppercase;
  margin-bottom: 2rem;
  font-size: 2.5rem;
}

.checkout-orders form .flex{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  justify-content: space-between;
}

.checkout-orders form .flex .inputBox{
  width: 49%;
}

.checkout-orders form .flex .inputBox .box{
  width: 100%;
  border:var(--border);
  border-radius: .5rem;
  font-size: 1.8rem;
  color:var(--black);
  padding:1.2rem 1.4rem;
  margin:1rem 0;
  background-color: var(--light-bg);
}

.checkout-orders form .flex .inputBox span{
  font-size: 1.8rem;
  color:var(--light-color);
}

.placed-orders .box-container{
  display: flex;
  flex-wrap: wrap;
  gap:1.5rem;
  align-items: flex-start;
}

.placed-orders .box-container .box{
  padding:1rem 2rem;
  flex:1 1 40rem;
  border:var(--border);
  background-color: var(--white);
  box-shadow: var(--box-shadow);
  border-radius: .5rem;
}

.placed-orders .box-container .box p{
  margin:.5rem 0;
  line-height: 1.8;
  font-size: 2rem;
  color:var(--light-color);
}

.placed-orders .box-container .box p span{
  color:var(--green);
}

.footer {
  background-color:#fff; /* Black background */
  color:var(--orange); /* White text */
  padding: 40px 20px;
  font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.footer .box-container {
  display: grid;
  grid-template-columns: repeat(auto-fit, minmax(220px, 1fr));
  gap: 40px;
  max-width: 1500px;
  margin: auto;
}

.footer .box h3 {
  font-size: 20px;
  color: orange;
  margin-bottom: 15px;
  text-transform: capitalize;
  border-bottom: 2px solid green;
  display: inline-block;
  padding-bottom: 5px;
}

.footer .box a, 
.footer .box p {
  color: var(--black);
  font-size: 15px;
  margin: 8px 0;
  display: block;
  transition: 0.3s;
  text-decoration: none;
}

.footer .box a i,
.footer .box p i {
  color: green;
  margin-right: 8px;
}

.footer .box a:hover {
  color: orange;
  transform: translateX(5px);
}

.footer .credit {
  text-align: center;
  margin-top: 30px;
  padding-top: 20px;
  border-top: 1px solid #444;
  color:var(--black);
  font-size: 14px;
}

.footer .credit span {
  color: orange;
  font-weight: bold;
}









@media (max-width:768px){

  .home-bg{
     background-position: left;
  }

  .home-bg .home{
     justify-content: center;
     text-align: center;
  }

  .checkout-orders form .flex .inputBox{
     width: 100%;
  }

}

@media (max-width:450px){

  .home-category .box-container{
     grid-template-columns: 1fr;
  }

  .products .box-container{
     grid-template-columns: 1fr;
  }

  .quick-view .box img{
     height: auto;
     width: 100%;
  }

  .about .row .box img{
     width: 100%;
     height: auto;
  }   

  .shopping-cart .box-container{
     grid-template-columns: 1fr;
  }

  .wishlist .box-container{
     grid-template-columns: 1fr;
  }

}


/* media queires */
@media (max-width: 1920px) {
  .swiper-button-next {
    right: 20px;
    color: var(--green) !important;
  }

  .swiper-button-prev {
    left: 20px;
    color: var(--green) !important;
  }
}


@media (max-width: 991px)
{
  html
  {
    font-size:55%;
  }
  .header 
  {
    padding: 2rem;
  }
  section 
  {
    padding: 2rem;
  }
}
@media (max-width: 768px)
{
  #menu-btn
  {
    display: inline-block;
  }
  .header .search-form
  {
    width: 90%;

  }
  .header .navbar
  {
    position: absolute;
    top:110%;
    right: -110%;
    width: 30rem;
    box-shadow: var(--box-shadow);
    border-radius: .5rem;
    background: #fff;

  }
  .header .navbar a
  {
    font-size: 2rem;
    margin: 2rem 2.5rem;
    display: block;
  }
}
@media (max-width: 450px)
{
  html
  {
    font-size:50%;
  }
  .heading
  {
    font-size: 2.5rem;
  }
}


